.destinos{
    margin-top: $margin;                
    margin-bottom: 15rem;             
    }
.sobrenosotros{
        margin-top: $margin;
        margin-bottom: 13rem; 
    }
.infotips_parrafo{
    margin-bottom: 3rem;
}
.formulario_entrega{
    margin-bottom: 3rem;
}
.videos_seccion{
    margin-top: $secciones;                
    margin-bottom: $secciones;  
}
.tips_seccion{
    margin-top: $secciones;                
    margin-bottom: $secciones;  
}
.nosotros_seccion{
    margin-bottom: 6rem;
}
.formulario_contacto{
    margin-top: 0.5rem;                
    margin-bottom: 0.5rem;
}
/* NO LO ESTA TOMANDO */
.notificaciones{
    margin-top: 3rem;                
    margin-bottom: 3rem;
}
/* NO LO ESTA TOMANDO */