.destinos{
    margin-top: $margin;                
    margin-bottom: $margin;             
    }
    .sobrenosotros{
        margin-top: $margin;            
    }
    
    .sobrenosotros{
        margin-top: 9rem;
        margin-bottom: 12rem; 
    }