h3{
    margin-top: 3rem;
    font-style: oblique;
}
h1{ font-style: italic;
    font-size:100%;}
h2{ 
    font-style: oblique;
    font-size: 90%;
}
.tips_info{
    font-weight: bold;
    font-family: sans-serif;
}
.tips_titulo{
    font-style: oblique;
    background-color: rgb(197, 236, 223);
}
.sobre_nosotros{
    font-style: oblique;
}
